@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

.blogText {
  font-weight: 100 !important;
  font-family: 'Quicksand' !important;
}

h4.ui.header {
  margin-top: 0;
  padding-left: 200px;
}

h2.ui.header {
  margin-bottom: 0;
}

@media only screen and (max-width: 419px) {
  h4.ui.header {
    margin-top: 0;
    padding-left: 0;
  }
}